.skill-logo {
    width: 40px;
    object-fit: contain;
    margin: 0 10px;
    height: 40px;
    vertical-align: middle;
    margin-right: 8px;
}
.skills-bar {
  display: flex;
  flex-wrap: wrap; /* or use nowrap if you don’t want wrapping */
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.skill-name {
  color: white;
  font-size: 1.2rem;
  text-align: left;
}
