.App.light-mode .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(12px);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}

.App.light-mode .navbar.shrink {
  backdrop-filter: blur(100px);
  transform: scale(1.02);
}

.App.light-mode .navbar-title {
  font-size: 2rem;
  margin-bottom: -1rem;
  transition: font-size 0.3s ease;
}

.App.light-mode .navbar.shrink .navbar-title {
  font-size: 2rem;
}



/*DARK MODE BELOW*/
.App.dark-mode .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(12px);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */

  background: linear-gradient(-45deg, #1e0a32, #0c2416, #050b14, #031814);
  background-size: 400% 400%;
  animation: gradientFlow 15s ease infinite;

  color: white;
  text-align: center;
}

.App.dark-mode .navbar.shrink {
  backdrop-filter: blur(100px);
  transform: scale(1.02);
}

.App.dark-mode .navbar-title {
  font-size: 2rem;
  margin-bottom: -1rem;
  transition: font-size 0.3s ease;
}

.App.dark-mode .navbar.shrink .navbar-title {
  font-size: 2rem;
}

